*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("bg.jpg");
    background-size: cover;
}

#container{
    width:300px;
    height:400px;
    box-shadow: 0 0 12px silver;
    border-radius: 8px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding: 15px;
}

form h2{
    text-align: center;
}

input{
    height:30px;
    outline: none;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 5px;
}

button{
    height:35px;
    background-color: rgb(42, 105, 250);
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
